# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Configuration
*.ini

# PyCharm
.idea/

# Logs
pip-log.txt
pip-delete-this-directory.txt
*.log

# virtualenv
.venv
venv/
ENV/
